## Access MySQL from python

In [5]:
#!/usr/bin/python

import MySQLdb

# Open database connection
db = MySQLdb.connect("localhost","root","","matrimony" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print("Database version : %s " % data)

# disconnect from server
db.close()

Database version : 10.1.31-MariaDB

### Access data from mysql table -  database_for_matrimony1

In [59]:
#!/usr/bin/python

import MySQLdb, re

# Open database connection
db = MySQLdb.connect("localhost","root","","matrimony")

# prepare a cursor object using cursor() method

cursor = db.cursor()

cursor.execute("select count(*) from  matrimony.database_for_matrimony1 where gender = 'Male' and Age > 24")
data = cursor.fetchone()
print("Records count : %d " % data)
    
sql = "SELECT * FROM database_for_matrimony1 where Gender = 'Female'" 

try:
   # Execute the SQL command
   cursor.execute(sql)
   # Fetch all the rows in a list of lists.
   results = cursor.fetchall()

   for row in results:
    
          S_No              = row[0]
          Profile_ID        = row[1]
          Age               = row[2]
          Gender            = row[3]
          Marital_Status    = row[4]
          Caste             = row[5]
          Sub_Caste         = row[6]
          State             = row[7]
          City              = row[8]
          Country           = row[9]
          Height            = row[10]
          physical_status   = row[11]
          Family_Status     = row[12]
          Family_Type       = row[13]
          Family_Values     = row[14]
          Groom_s_Age       = row[15]
          Groom_s_Education = row[16]
          Groom_s_Income    = row[17]
          Groom_s_Location  = row[18]
          About_Description = row[19]
            
         # Now print fetched result
        
          print("\nS_No = %d " % S_No)
          print("Profile_ID = %s,Age = %d,Gender = %s, Marital_Status = %s, Caste = %s, age_lo = %d, age_up = %d"\
          % (Profile_ID, Age, Gender, Marital_Status, Caste, int(age_l), int(age_u)))
except:
   print("Error: unable to fetch data")

# disconnect from server
db.close()

Records count : 47

S_No = 1
Profile_ID = M5929711,Age = 27,Gender = Female, Marital_Status = Never married, Caste = Mudaliar, age_lo = 28, age_up = 30

S_No = 2
Profile_ID = M5929712,Age = 28,Gender = Female, Marital_Status = Never married, Caste = Mudaliar, age_lo = 28, age_up = 30

S_No = 3
Profile_ID = M5929713,Age = 28,Gender = Female, Marital_Status = Never married, Caste = Nayar, age_lo = 28, age_up = 30

S_No = 4
Profile_ID = M5929714,Age = 27,Gender = Female, Marital_Status = widower, Caste = Nayar, age_lo = 28, age_up = 30

S_No = 5
Profile_ID = M5929715,Age = 27,Gender = Female, Marital_Status = widower, Caste = Kallar, age_lo = 28, age_up = 30

S_No = 6
Profile_ID = M5929716,Age = 25,Gender = Female, Marital_Status = Never married, Caste = Thevar, age_lo = 28, age_up = 30

S_No = 7
Profile_ID = M5929717,Age = 24,Gender = Female, Marital_Status = Never married, Caste = Maravar, age_lo = 28, age_up = 30

S_No = 8
Profile_ID = M5929718,Age = 25,Gender = Female, Marital_Status = Never married, Caste = Kallar, age_lo = 28, age_up = 30

S_No = 9
Profile_ID = M5929719,Age = 25,Gender = Female, Marital_Status = Never married, Caste = Kallar, age_lo = 28, age_up = 30

S_No = 10
Profile_ID = M5929720,Age = 24,Gender = Female, Marital_Status = Never married, Caste = Kallar, age_lo = 28, age_up = 30

S_No = 11
Profile_ID = M5929721,Age = 24,Gender = Female, Marital_Status = Never married, Caste = Maravar, age_lo = 28, age_up = 30

S_No = 12
Profile_ID = M5929722,Age = 25,Gender = Female, Marital_Status = Never married, Caste = Thevar, age_lo = 28, age_up = 30

S_No = 27
Profile_ID = M6886868,Age = 26,Gender = Female, Marital_Status = Never married, Caste = Pillai, age_lo = 28, age_up = 30

S_No = 28
Profile_ID = M6886869,Age = 28,Gender = Female, Marital_Status = Never married, Caste = Nayar, age_lo = 28, age_up = 30

S_No = 29
Profile_ID = M6886870,Age = 29,Gender = Female, Marital_Status = widower, Caste = Devar, age_lo = 28, age_up = 30

S_No = 31
Profile_ID = M6886872,Age = 23,Gender = Female, Marital_Status = Never married, Caste = Jat, age_lo = 28, age_up = 30

S_No = 34
Profile_ID = M6886875,Age = 23,Gender = Female, Marital_Status = Never married, Caste = Brahmin - Dixit, age_lo = 28, age_up = 30

S_No = 36
Profile_ID = M6886877,Age = 27,Gender = Female, Marital_Status = Never married, Caste = Yadav, age_lo = 28, age_up = 30

S_No = 38
Profile_ID = M6886879,Age = 30,Gender = Female, Marital_Status = Never married, Caste = Brahmin - Bhumihar, age_lo = 28, age_up = 30

S_No = 40
Profile_ID = M6886881,Age = 23,Gender = Female, Marital_Status = Never married, Caste = Balija, age_lo = 28, age_up = 30

S_No = 42
Profile_ID = M6886883,Age = 28,Gender = Female, Marital_Status = Never married, Caste = Catholic, age_lo = 28, age_up = 30

S_No = 43
Profile_ID = M6886884,Age = 35,Gender = Female, Marital_Status = widower, Caste = Catholic, age_lo = 28, age_up = 30

S_No = 45
Profile_ID = M6886886,Age = 38,Gender = Female, Marital_Status = Divorced, Caste = Sikh - Khatri, age_lo = 28, age_up = 30

S_No = 48
Profile_ID = M6886889,Age = 32,Gender = Female, Marital_Status = Never married, Caste = Catholic, age_lo = 28, age_up = 30

S_No = 52
Profile_ID = M6886902,Age = 25,Gender = Female, Marital_Status = Never married, Caste = Gounder, age_lo = 28, age_up = 30

S_No = 53
Profile_ID = M6886903,Age = 30,Gender = Female, Marital_Status = Never married, Caste = Reddy , age_lo = 28, age_up = 30

S_No = 54
Profile_ID = M6886904,Age = 34,Gender = Female, Marital_Status = widower, Caste = Deshastha Brahmins, age_lo = 28, age_up = 30

S_No = 56
Profile_ID = M6886906,Age = 26,Gender = Female, Marital_Status = widower, Caste = Kshatriyas, age_lo = 28, age_up = 30

S_No = 59
Profile_ID = M6886909,Age = 29,Gender = Female, Marital_Status = widower, Caste = Kamma, age_lo = 28, age_up = 30

S_No = 61
Profile_ID = M6886911,Age = 24,Gender = Female, Marital_Status = Never married, Caste = Vanniyar, age_lo = 28, age_up = 30

S_No = 63
Profile_ID = M6886913,Age = 28,Gender = Female, Marital_Status = Never married, Caste = Mukkulathor, age_lo = 28, age_up = 30

S_No = 65
Profile_ID = M6886915,Age = 30,Gender = Female, Marital_Status = Never married, Caste = Christains, age_lo = 28, age_up = 30

S_No = 67
Profile_ID = M6886917,Age = 29,Gender = Female, Marital_Status = Never married, Caste = Marathas, age_lo = 28, age_up = 30

S_No = 68
Profile_ID = M6886918,Age = 26,Gender = Female, Marital_Status = widower, Caste = Jaiswal, age_lo = 28, age_up = 30

S_No = 70
Profile_ID = M6886920,Age = 28,Gender = Female, Marital_Status = Never married, Caste = Mahisya, age_lo = 28, age_up = 30

S_No = 73
Profile_ID = M6886923,Age = 28,Gender = Female, Marital_Status = Never married, Caste = Christains, age_lo = 28, age_up = 30

S_No = 76
Profile_ID = M7595564,Age = 24,Gender = Female, Marital_Status = Never married, Caste = Kallar, age_lo = 28, age_up = 30

S_No = 77
Profile_ID = M7595565,Age = 25,Gender = Female, Marital_Status = Never married, Caste = Kallar, age_lo = 28, age_up = 30

S_No = 79
Profile_ID = M7595567,Age = 28,Gender = Female, Marital_Status = Never married, Caste = Thevar, age_lo = 28, age_up = 30

S_No = 82
Profile_ID = M7595570,Age = 37,Gender = Female, Marital_Status = Divorced, Caste = Kallar, age_lo = 28, age_up = 30

S_No = 85
Profile_ID = M7595573,Age = 26,Gender = Female, Marital_Status = Never married, Caste = Thevar, age_lo = 28, age_up = 30

S_No = 87
Profile_ID = M7595575,Age = 26,Gender = Female, Marital_Status = Never married, Caste = Nayar, age_lo = 28, age_up = 30

S_No = 89
Profile_ID = M7595577,Age = 35,Gender = Female, Marital_Status = Divorced, Caste = Thevar, age_lo = 28, age_up = 30

S_No = 91
Profile_ID = M7595579,Age = 38,Gender = Female, Marital_Status = Never married, Caste = Kallar, age_lo = 28, age_up = 30

S_No = 93
Profile_ID = M7595581,Age = 33,Gender = Female, Marital_Status = Divorced, Caste = Thevar, age_lo = 28, age_up = 30

S_No = 95
Profile_ID = M7595583,Age = 27,Gender = Female, Marital_Status = Never married, Caste = Maravar, age_lo = 28, age_up = 30

S_No = 96
Profile_ID = M7595584,Age = 34,Gender = Female, Marital_Status = Never married, Caste = Nayar, age_lo = 28, age_up = 30

S_No = 98
Profile_ID = M7595586,Age = 47,Gender = Female, Marital_Status = Divorced, Caste = Thevar, age_lo = 28, age_up = 30