## Access MySQL from python

In [1]:
#!/usr/bin/python

import   pandas          as pd
import   MySQLdb
import   mysql.connector
from     sqlalchemy      import create_engine

# Open database connection
db = MySQLdb.connect("localhost","root","","matrimony" )

# prepare a cursor object using cursor() method
cursor = db.cursor()

# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")

# Fetch a single row using fetchone() method.
db_version = cursor.fetchone()
print("Database version : %s " % db_version)

# disconnect from server
db.close()

Database version : 10.1.31-MariaDB

### Access data from mysql table -  database_for_matrimony1

In [2]:
import   mysql.connector, re
import   pandas              as  pd
import   numpy               as  np

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="matrimony"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM database_for_matrimony1")

myresult = mycursor.fetchall()

mycol = ['S_No','Profile_ID','Age','Gender','Marital_Status','Caste',\
          'Sub_Caste','State','City','Country','Height','physical_status',\
          'Family_Status','Family_Type','Family_Values','Groom_s_Age',\
          'Groom_s_Education','Groom_s_Income','Groom_s_Location',\
          'About_Description']     


df      = pd.DataFrame(myresult, columns= mycol)

print(df.head())  
print(list(df))
print(df.info())

   S_No Profile_ID  Age  Gender Marital_Status     Caste    Sub_Caste  \
0     1   M5929711   27  Female  Never married  Mudaliar    Melakarar
1     2   M5929712   28  Female  Never married  Mudaliar    Melakarar
2     3   M5929713   28  Female  Never married     Nayar      Nambiar
3     4   M5929714   27  Female        widower     Nayar      Nambiar
4     5   M5929715   27  Female        widower    Kallar  Mukkulathor

        State     City Country Height physical_status       Family_Status  \
0  Tamil Nadu  Chennai   India    5.8          Normal        Middle Class
1  Tamil Nadu  Chennai   India    5.8          Normal  Upper Middle Class
2  Tamil Nadu  Chennai   India    5.6          Normal                Rich
3  Tamil Nadu  Chennai   India    5.9          Normal            Affluent
4  Tamil Nadu  Chennai   India    5.8          Normal                Rich

  Family_Type Family_Values Groom_s_Age Groom_s_Education  Groom_s_Income  \
0       Joint      Orthodox       28-30          Graduate          400000
1     Nuclear   Traditional       29-30          Graduate          500000
2     Nuclear      Moderate       29-30          Graduate         1000000
3     Nuclear       Liberal       28-30          Graduate          500000
4     Nuclear      Orthodox       28-30          Graduate         1000000

  Groom_s_Location About_Description
0       Tamil Nadu                NA
1       Tamil Nadu                NA
2       Tamil Nadu                NA
3       Tamil Nadu                NA
4       Tamil Nadu                NA
['S_No', 'Profile_ID', 'Age', 'Gender', 'Marital_Status', 'Caste', 'Sub_Caste', 'State', 'City', 'Country', 'Height', 'physical_status', 'Family_Status', 'Family_Type', 'Family_Values', 'Groom_s_Age', 'Groom_s_Education', 'Groom_s_Income', 'Groom_s_Location', 'About_Description']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
S_No                 100 non-null int64
Profile_ID           100 non-null object
Age                  100 non-null int64
Gender               100 non-null object
Marital_Status       100 non-null object
Caste                100 non-null object
Sub_Caste            98 non-null object
State                100 non-null object
City                 99 non-null object
Country              100 non-null object
Height               100 non-null object
physical_status      100 non-null object
Family_Status        100 non-null object
Family_Type          100 non-null object
Family_Values        100 non-null object
Groom_s_Age          100 non-null object
Groom_s_Education    100 non-null object
Groom_s_Income       100 non-null int64
Groom_s_Location     100 non-null object
About_Description    100 non-null object
dtypes: int64(3), object(17)
memory usage: 15.7+ KB
None

### Create corpus data from the user search results

In [3]:
file1 = open("Mate_Corpus.txt","w") 
L = ["This corpus is used to assist the users to get their potential matches"]  
 
file1.writelines(L)

In [4]:
n   =  df.shape[0] # number of rows

Pref_Age_Lo = []
Pref_Age_Up = []

for i in range(n):
    if len(df['Groom_s_Age'][i]) == 5:
        lo, up = re.findall('\d+', df['Groom_s_Age'][i])
    else:
        lo     = df['Age'][i] + 1
        up     = df['Age'][i] + 5
        
    Pref_Age_Lo.append(lo)
    Pref_Age_Up.append(up)

Lower  = pd.Series(Pref_Age_Lo)
Upper  = pd.Series(Pref_Age_Up)

df['Partner_Age_LI']   =   Lower.values
df['Partner_Age_UI']   =   Upper.values

df['Partner_Age_LI'] = df['Partner_Age_LI'].astype('int32')
df['Partner_Age_UI'] = df['Partner_Age_UI'].astype('int32')


print(df.head(3).T)

                               0                   1              2
S_No                           1                   2              3
Profile_ID              M5929711            M5929712       M5929713
Age                           27                  28             28
Gender                    Female              Female         Female
Marital_Status     Never married       Never married  Never married
Caste                   Mudaliar            Mudaliar          Nayar
Sub_Caste              Melakarar           Melakarar        Nambiar
State                 Tamil Nadu          Tamil Nadu     Tamil Nadu
City                     Chennai             Chennai        Chennai
Country                    India               India          India
Height                       5.8                 5.8            5.6
physical_status           Normal              Normal         Normal
Family_Status       Middle Class  Upper Middle Class           Rich
Family_Type                Joint             Nuclear        Nuclear
Family_Values           Orthodox         Traditional       Moderate
Groom_s_Age                28-30               29-30          29-30
Groom_s_Education       Graduate            Graduate       Graduate
Groom_s_Income            400000              500000        1000000
Groom_s_Location      Tamil Nadu          Tamil Nadu     Tamil Nadu
About_Description             NA                  NA             NA
Partner_Age_LI                28                  29             29
Partner_Age_UI                30                  30             30

In [5]:
male_df        = df.loc[df['Gender'] == 'Male',['Profile_ID','Age','Gender','Marital_Status','Caste','Sub_Caste','Partner_Age_LI','Partner_Age_UI']]
female_df      = df.loc[df['Gender'] == 'Female',['Profile_ID','Age','Gender','Marital_Status','Caste','Sub_Caste','Partner_Age_LI','Partner_Age_UI']]

print(male_df.shape)
print(male_df.head())
print(female_df.shape)
print(female_df.head(13))

(52, 8)
   Profile_ID  Age Gender    Marital_Status    Caste    Sub_Caste  \
12   M5929723   27   Male  Awaiting Divorce   Thevar  Mukkulathor
13   M5929724   30   Male          Divorced  Maravar  Mukkulathor
14   M5929725   30   Male          Divorced   Kallar  Mukkulathor
15   M5929726   24   Male     Never married    Nayar      Nambiar
16   M5929727   24   Male     Never married  Maravar  Mukkulathor

    Partner_Age_LI  Partner_Age_UI
12              25              27
13              28              29
14              28              29
15              22              23
16              22              23
(48, 8)
   Profile_ID  Age  Gender Marital_Status     Caste    Sub_Caste  \
0    M5929711   27  Female  Never married  Mudaliar    Melakarar
1    M5929712   28  Female  Never married  Mudaliar    Melakarar
2    M5929713   28  Female  Never married     Nayar      Nambiar
3    M5929714   27  Female        widower     Nayar      Nambiar
4    M5929715   27  Female        widower    Kallar  Mukkulathor
5    M5929716   25  Female  Never married    Thevar  Mukkulathor
6    M5929717   24  Female  Never married   Maravar  Mukkulathor
7    M5929718   25  Female  Never married    Kallar  Mukkulathor
8    M5929719   25  Female  Never married    Kallar  Mukkulathor
9    M5929720   24  Female  Never married    Kallar  Mukkulathor
10   M5929721   24  Female  Never married   Maravar  Mukkulathor
11   M5929722   25  Female  Never married    Thevar  Mukkulathor
26   M6886868   26  Female  Never married    Pillai     Vellalar

    Partner_Age_LI  Partner_Age_UI
0               28              30
1               29              30
2               29              30
3               28              30
4               28              30
5               26              30
6               25              30
7               26              30
8               26              30
9               25              30
10              25              30
11              25              30
26              27              31

In [6]:
df_col = list(female_df)
print(df_col)

['Profile_ID', 'Age', 'Gender', 'Marital_Status', 'Caste', 'Sub_Caste', 'Partner_Age_LI', 'Partner_Age_UI']

In [7]:
n   =  female_df.shape[0] # number of rows
n   =  10
for i in range(n):    
    user_age        = female_df['Age'][i]
    user_profile_ID = female_df['Profile_ID'][i]

    ### Female preference

    pref_age_l      = female_df['Partner_Age_LI'][i]                                
    pref_age_u      = female_df['Partner_Age_UI'][i]

    msg = "\nRecord: %d Profile_ID %s User Age: %d preferred partner age: Between %d and %d" \
           % (i, user_profile_ID, user_age, int(pref_age_l), int(pref_age_u))
    
    print(msg)
    
    L1     = msg
    file1.writelines(L1) 
    
    print(male_df['Partner_Age_LI'].dtype)
    pref_male_df   = male_df.loc[(male_df['Age'] >=  int(pref_age_l)) & (male_df['Age'] <=  int(pref_age_u)) &\
                                 (male_df['Partner_Age_LI'] <=  int(user_age)) & (male_df['Partner_Age_UI'] >=  int(user_age))]

    print(pref_male_df.head(3).T)
    msg = ' Count of matches: %d' % (pref_male_df['Profile_ID'].count())
    
    L2     = msg
    file1.writelines(L2) 
    
file1.close() #to change file access modes

Record: 0 Profile_ID M5929711 User Age: 27 preferred partner age: Between 28 and 30
int32
                         17           18           19
Profile_ID         M5929728     M5929729     M5929730
Age                      29           29           30
Gender                 Male         Male         Male
Marital_Status     Divorced     Divorced     Divorced
Caste                Thevar       Kallar      Maravar
Sub_Caste       Mukkulathor  Mukkulathor  Mukkulathor
Partner_Age_LI           27           27           25
Partner_Age_UI           29           29           29

Record: 1 Profile_ID M5929712 User Age: 28 preferred partner age: Between 29 and 30
int32
                         13           14           17
Profile_ID         M5929724     M5929725     M5929728
Age                      30           30           29
Gender                 Male         Male         Male
Marital_Status     Divorced     Divorced     Divorced
Caste               Maravar       Kallar       Thevar
Sub_Caste       Mukkulathor  Mukkulathor  Mukkulathor
Partner_Age_LI           28           28           27
Partner_Age_UI           29           29           29

Record: 2 Profile_ID M5929713 User Age: 28 preferred partner age: Between 29 and 30
int32
                         13           14           17
Profile_ID         M5929724     M5929725     M5929728
Age                      30           30           29
Gender                 Male         Male         Male
Marital_Status     Divorced     Divorced     Divorced
Caste               Maravar       Kallar       Thevar
Sub_Caste       Mukkulathor  Mukkulathor  Mukkulathor
Partner_Age_LI           28           28           27
Partner_Age_UI           29           29           29

Record: 3 Profile_ID M5929714 User Age: 27 preferred partner age: Between 28 and 30
int32
                         17           18           19
Profile_ID         M5929728     M5929729     M5929730
Age                      29           29           30
Gender                 Male         Male         Male
Marital_Status     Divorced     Divorced     Divorced
Caste                Thevar       Kallar      Maravar
Sub_Caste       Mukkulathor  Mukkulathor  Mukkulathor
Partner_Age_LI           27           27           25
Partner_Age_UI           29           29           29

Record: 4 Profile_ID M5929715 User Age: 27 preferred partner age: Between 28 and 30
int32
                         17           18           19
Profile_ID         M5929728     M5929729     M5929730
Age                      29           29           30
Gender                 Male         Male         Male
Marital_Status     Divorced     Divorced     Divorced
Caste                Thevar       Kallar      Maravar
Sub_Caste       Mukkulathor  Mukkulathor  Mukkulathor
Partner_Age_LI           27           27           25
Partner_Age_UI           29           29           29

Record: 5 Profile_ID M5929716 User Age: 25 preferred partner age: Between 26 and 30
int32
                              12           19                22
Profile_ID              M5929723     M5929730          M5929733
Age                           27           30                27
Gender                      Male         Male              Male
Marital_Status  Awaiting Divorce     Divorced  Awaiting Divorce
Caste                     Thevar      Maravar           Maravar
Sub_Caste            Mukkulathor  Mukkulathor       Mukkulathor
Partner_Age_LI                25           25                22
Partner_Age_UI                27           29                26

Record: 6 Profile_ID M5929717 User Age: 24 preferred partner age: Between 25 and 30
int32
                              22                23             25
Profile_ID              M5929733          M5929734       M6886867
Age                           27                26             27
Gender                      Male              Male           Male
Marital_Status  Awaiting Divorce  Awaiting Divorce  Never married
Caste                    Maravar             Nayar          Nadar
Sub_Caste            Mukkulathor           Nambiar    Hindu nadar
Partner_Age_LI                22                22             23
Partner_Age_UI                26                26             25

Record: 7 Profile_ID M5929718 User Age: 25 preferred partner age: Between 26 and 30
int32
                              12           19                22
Profile_ID              M5929723     M5929730          M5929733
Age                           27           30                27
Gender                      Male         Male              Male
Marital_Status  Awaiting Divorce     Divorced  Awaiting Divorce
Caste                     Thevar      Maravar           Maravar
Sub_Caste            Mukkulathor  Mukkulathor       Mukkulathor
Partner_Age_LI                25           25                22
Partner_Age_UI                27           29                26

Record: 8 Profile_ID M5929719 User Age: 25 preferred partner age: Between 26 and 30
int32
                              12           19                22
Profile_ID              M5929723     M5929730          M5929733
Age                           27           30                27
Gender                      Male         Male              Male
Marital_Status  Awaiting Divorce     Divorced  Awaiting Divorce
Caste                     Thevar      Maravar           Maravar
Sub_Caste            Mukkulathor  Mukkulathor       Mukkulathor
Partner_Age_LI                25           25                22
Partner_Age_UI                27           29                26

Record: 9 Profile_ID M5929720 User Age: 24 preferred partner age: Between 25 and 30
int32
                              22                23             25
Profile_ID              M5929733          M5929734       M6886867
Age                           27                26             27
Gender                      Male              Male           Male
Marital_Status  Awaiting Divorce  Awaiting Divorce  Never married
Caste                    Maravar             Nayar          Nadar
Sub_Caste            Mukkulathor           Nambiar    Hindu nadar
Partner_Age_LI                22                22             23
Partner_Age_UI                26                26             25

In [8]:
import nltk
import warnings
warnings.filterwarnings("ignore")

# nltk.download() # for downloading packages

import numpy as np
import random
import string # to process standard python strings

In [ ]:
### Load Corpus data from Mate_Corpus.txt

f                    =  open('Mate_Corpus.txt','r',errors = 'ignore')
lines                =  list(f)
List_lines_lower     =  []

for line in lines:
    line_count = len(line)
    
    if  line_count > 71:
        
        line       = line.lower();
        print("\nLine %s" %line)
        List_lines_lower.append(line)

f.close()
print(List_lines_lower)
#nltk.download('punkt') # first-time use only

#nltk.download('wordnet') # first-time use only

Line record: 0 profile_id m5929711 user age: 27 preferred partner age: between 28 and 30 count of matches: 11


Line record: 1 profile_id m5929712 user age: 28 preferred partner age: between 29 and 30 count of matches: 12


Line record: 2 profile_id m5929713 user age: 28 preferred partner age: between 29 and 30 count of matches: 12


Line record: 3 profile_id m5929714 user age: 27 preferred partner age: between 28 and 30 count of matches: 11


Line record: 4 profile_id m5929715 user age: 27 preferred partner age: between 28 and 30 count of matches: 11


Line record: 5 profile_id m5929716 user age: 25 preferred partner age: between 26 and 30 count of matches: 14


Line record: 6 profile_id m5929717 user age: 24 preferred partner age: between 25 and 30 count of matches: 13


Line record: 7 profile_id m5929718 user age: 25 preferred partner age: between 26 and 30 count of matches: 14


Line record: 8 profile_id m5929719 user age: 25 preferred partner age: between 26 and 30 count of matches: 14


Line record: 9 profile_id m5929720 user age: 24 preferred partner age: between 25 and 30 count of matches: 13
['record: 0 profile_id m5929711 user age: 27 preferred partner age: between 28 and 30 count of matches: 11\n', 'record: 1 profile_id m5929712 user age: 28 preferred partner age: between 29 and 30 count of matches: 12\n', 'record: 2 profile_id m5929713 user age: 28 preferred partner age: between 29 and 30 count of matches: 12\n', 'record: 3 profile_id m5929714 user age: 27 preferred partner age: between 28 and 30 count of matches: 11\n', 'record: 4 profile_id m5929715 user age: 27 preferred partner age: between 28 and 30 count of matches: 11\n', 'record: 5 profile_id m5929716 user age: 25 preferred partner age: between 26 and 30 count of matches: 14\n', 'record: 6 profile_id m5929717 user age: 24 preferred partner age: between 25 and 30 count of matches: 13\n', 'record: 7 profile_id m5929718 user age: 25 preferred partner age: between 26 and 30 count of matches: 14\n', 'record: 8 profile_id m5929719 user age: 25 preferred partner age: between 26 and 30 count of matches: 14\n', 'record: 9 profile_id m5929720 user age: 24 preferred partner age: between 25 and 30 count of matches: 13']

In [ ]:
raw         = List_lines_lower[0]

sent_tokens = nltk.sent_tokenize(raw)# converts to list of sentences 

word_tokens = nltk.word_tokenize(raw)# converts to list of words
sent_tokens[:2]
word_tokens[:5]

lemmer = nltk.stem.WordNetLemmatizer()

def LemTokens(tokens):

    return [lemmer.lemmatize(token) for token in tokens]

remove_punct_dict = dict((ord(punct), None) for punct in string.punctuation)

def LemNormalize(text):

    return LemTokens(nltk.word_tokenize(text.lower().translate(remove_punct_dict)))

GREETING_INPUTS = ("hello", "hi", "greetings", "sup", "what's up","hey",)

GREETING_RESPONSES = ["hi", "hey", "*nods*", "hi there", "hello", "I am glad! You are talking to me"]

# Checking for greetings

def greeting(sentence):

    """If user's input is a greeting, return a greeting response"""

    for word in sentence.split():

        if word.lower() in GREETING_INPUTS:

            return random.choice(GREETING_RESPONSES)

from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn.metrics.pairwise import cosine_similarity

# Generating response

def response(user_response):

    robo_response=''

    sent_tokens.append(user_response)

    TfidfVec = TfidfVectorizer(tokenizer=LemNormalize, stop_words='english')

    tfidf = TfidfVec.fit_transform(sent_tokens)

    vals = cosine_similarity(tfidf[-1], tfidf)

    idx=vals.argsort()[0][-2]

    flat = vals.flatten()

    flat.sort()

    req_tfidf = flat[-2]

    if(req_tfidf==0):

        robo_response=robo_response+"I am sorry! I don't understand you"

        return robo_response

    else:

        robo_response = robo_response+sent_tokens[idx]

        return robo_response

flag=True

print("ROBO: My name is Robo. I will answer your queries about Chatbots. If you want to exit, type Bye!")



while(flag==True):

    user_response = input()

    user_response=user_response.lower()

    if(user_response!='bye'):

        if(user_response=='thanks' or user_response=='thank you' ):

            flag=False

            print("ROBO: You are welcome..")

        else:

            if(greeting(user_response)!=None):

                print("ROBO: "+greeting(user_response))

            else:

                print("ROBO: ",end="")

                print(response(user_response))

                sent_tokens.remove(user_response)

    else:

        flag=False

        print("ROBO: Bye! take care..")

ROBO: My name is Robo. I will answer your queries about Chatbots. If you want to exit, type Bye!
Count
ROBO: record: 0 profile_id m5929711 user age: 27 preferred partner age: between 28 and 30 count of matches: 11